@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.hero {
    background: #1f2937;
    color: white;
}

.hero a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero ul {
    list-style: none;
    display: flex
}

.hero li {
    margin-left: 10px;
}

.hero-header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    border: 1px solid red;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    border: 1px solid red;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
}

.hero-main .main {
    border: 1px solid green;
    width: 450px;
}

.hero-main .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf9;
    margin-bottom: 10px;
}

.hero-main .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.hero-main .sign-up {
    background-color: #3882f6;
    padding: 5px 18px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.hero-main .main-img {
    border: 10px solid green;
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 50px 0;
    margin-right: 40px;
    background-color: #3882f6;
    flex-shrink: 0;
}

.body .info {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;

    border: 1px solid red;
    min-height: 400px;
    text-align: center;
}

.info .info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 40px;
}

.info .container {
    /* border: 3px double blueviolet;
    padding: 20px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info .card {
    max-width: 150px;
}

.info .info-img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.body .quote { 
    background-color: #e5e7eb;
}

.quote .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 10px;

    min-height: 400px;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    
    border: #1f2937 1px solid;
    width: 785px;
}

.quote .author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;

    border: #1f2937 1px solid;
    width: 750px;
}